<nav *ngIf="appNameReady" class="navbar navbar-expand-sm navbar-light" id="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="routerLinkHome" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">{{ appName }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="routerLinkAnalyze" routerLinkActive="active">Analyze</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="routerLinkSessions" routerLinkActive="active">Sessions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="routerLinkManual" routerLinkActive="active">Manual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="routerLinkAccess" routerLinkActive="active">Getting Access</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="routerLinkContact" routerLinkActive="active">Contact</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" [routerLink]="routerLinkAdmin" routerLinkActive="active">Admin</a>
      </li>

      <!--
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link disabled">
          <i class="fas fa-exclamation-triangle"></i>
          Service in limited use!
        </a>
      </li>
      -->
    </ul>

    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="fas fa-user" aria-hidden="true"></i>
          {{ getAccountName() }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

          <!-- <div class="dropdown-header" (click)="$event.stopImmediatePropagation()">{{getUserId()}}</div> -->
          <a class="dropdown-item" (click)="openAccount()"><i class="fas fa-user fa-fw lighter"></i> Account</a>
          <a class="dropdown-item" (click)="openSettings()"><i class="fas fa-cog fa-fw lighter"></i> Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="routerLinkHome" (click)="logout()"><i
              class="fas fa-sign-out-alt fa-fw lighter"></i> Logout</a>
        </div>
      </li>

      <li class="nav-item">
        <a *ngIf="!isLoggedIn()" [routerLink]="routerLinkLogin" class="nav-link" routerLinkActive="active">Log In</a>
      </li>
    </ul>
  </div>
</nav>
