<nav class="navbar navbar-toggleable-md navbar-light bg-faded" xmlns:padding-right="http://www.w3.org/1999/xhtml">

  <a class="navbar-brand" href="#">Chipster</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sessions" routerLinkActive="active">Sessions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manual" routerLinkActive="active">Manual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>

  <!--end navbar form-->
  <ul class="nav justify-content-end">
    <li style="padding-right: 20px"><span>{{host | async}}</span></li>
    <li *ngIf="!isLoggedIn()"><a routerLink="/login"  routerLinkActive="active">Login</a></li>
    <li *ngIf="isLoggedIn()" style="padding-right: 20px"><span>{{username}}</span></li>
    <li *ngIf="isLoggedIn()"><a routerLink="/home" (click)="logout()" routerLinkActive="active">Logout</a></li>
  </ul>

</nav>
