/*
Custom CSS for Chipster Web
*/


html,
body{
    height: 100%;
}


table{
	border-collapse: collapse;
}

.tool-selected{
	background:#d5c796;
}

footer {
	background: #333;
	height:auto;
	color: #eee;
	font-size: 11px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}



#chipsterInfoContainer{
	text-align: center;
	padding: 10px;
}

#mypanel{
	padding:10px;
}

#toolButtonGroup{
	margin-top: 20px
}

#add{
	margin-top:10px;
	float:right;
}
/*wrapper for page content to push down the footer, fix for the sticky footer*/
#wrap{
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin:0 auto -60px;
	/* Top padding for header and bottom padding by footer height*/
	padding: 0 0 60px;


}

#visalizationContainer{
	margin: 10px;
}

#dataToolContainer{
	margin: 5px;
}

#tooltable{
	overflow: auto;
	max-height: 450px;
	margin-top:5px;
}


#toolrow {max-height:10px;}



#flow-button-group{
	margin: 20px;
	position: center;

}

/* D3 graph related styles*/
.node {
 	stroke: #fff;
  	stroke-width: 1px;
    }

.node .selected {
  stroke: black;
}

 .node text{
 	font: 8px helvetica;
 	color: #f00;
 }


.link {     
      stroke: #999;     
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


.btn {
    margin-right: 5px;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.active {
    background-color: #CCC;
}


.panel .nav-justified{
	margin-bottom:-1px;
}







