/*Custom CSS for Chipster Web*/


@media (min-width: 1000px) {
	html,
	body {
		overflow-y: hidden;
		overflow-x: hidden;
		padding-left: 2px;
		padding-right: 2px;
	}
}

/*
#main-navbar {
	margin-bottom:5px;
}
*/

#workflow-panel {
}

.add-dataset-button {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#main-panel-left {
	padding-right: 0;
}

.visualization-area {
	height: calc(100vh - 110px);
}

.thumbnail-button {
	height: 28vh;
	width: 22vw;
}

.thumbnail {
	/* align to center */
	display: inherit;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	margin: 0;
}

.scrollable {
	height: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

#data-detail {
	height: calc((100vh - 220px) * 0.4);
	overflow-y: auto;
}

.tool-height {
	height: calc((100vh - 220px) * 0.6);
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.indented {
	margin-left: 1em
}

#tool-table{
	overflow-y: auto;
}

#category-table{
	overflow-y: auto;
	overflow-x: hidden;
}

#tool-details-panel {
	padding-right: 0;
}

.tool-description {
	overflow-y: auto;
	height: calc(100% - 80px);
	margin-bottom: 5px;
	padding-left: 0;
}

.nav-pills {
	margin-bottom: 10px;
}

.navbar{
	margin-bottom: 10px;
}

/*

.form-control{
	margin:2px;
	height:28px;
	padding:0px;
}

.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}
*/

/*
table{
	border-collapse: collapse;
}
*/

.tool-selected{
	background:#c0d2de;
}

footer {
	background: #333;
	height:auto;
	color: #eee;
	font-size: 11px;
}

/*
ul.unstyled {
	list-style: none;
	padding: 0;
}


#chipsterInfoContainer{
	text-align: center;
	padding: 10px;
}

#mypanel{
	padding:10px;
}

#toolButtonGroup{
	margin-top: 20px
}

#add{
	margin-top:10px;
	float:right;
}

*/

/*wrapper for page content to push down the footer, fix for the sticky footer*/
#wrap{
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	/*margin:0 auto -60px;*/
	/* Top padding for header and bottom padding by footer height*/
	/*padding: 0 0 60px;*/
}

/*

#toolrow {max-height:10px;}

#run_btn{
	margin:20px;
	width:80%
}

#flow-button-group{
	margin: 20px;
	position: center;

}

*/


/* D3 graph related styles*/
.node {
 	stroke: #fff;
  	stroke-width: 1px;
    }

.node .selected {
  stroke: black;
  stroke-width: 2px;
}


.link {
      stroke: #999;
}

.dummylink{
	stroke:#999;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/*
.panel .nav-justified{
	margin-bottom:-1px;
}
*/

.phenodata-header-button {
	margin-left: 15px;
	color: gray;
}

.phenodata-add-column-button {
	margin: 15px;
	margin-right: 30px;
}

/* http://bootsnipp.com/snippets/featured/circle-button */

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.42;
	border-radius: 15px;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}


.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	height: calc(100vh - 110px);
}

.tab-content-without-padding {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: calc(100vh - 110px);
}

.nav-tabs {
	margin-bottom: 0;
}



