

/* DATASET COMPONENT */

.add-dataset-button {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 1;
}

.search-div {
	position: relative;
}

.clear-search-button {
	position: absolute;
	top: 2px;
	right: 2px;
}

.visualization-area {
	height: "calc(100vh - 110px)";
}

.thumbnail-button {
	height: 28vh;
	width: 22vw;
	z-index: 1; /* disable iframe */
	position: relative; /* required by z-index */
}

.thumbnail {
	/* align to center */
	display: inherit;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	margin: 0;
	z-index: -1; /* disable iframe */
	position: relative; /* required by z-index */
}

.thumbnail-html {
	height: 200%;
	width: 200%;
	max-height: 200%;
	max-width: 200%;
	transform: scale(0.5);
	transform-origin: 0 0;
}

.scrollable {
	height: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

.chipster-highlight {
	padding: 10px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

.tool-list {
	max-height: 300px;
	overflow-y: auto;
}

.non-scrollable-modal {
	height: "calc(100vh - 160px)";
}

.visibility-hidden {
	visibility: hidden;
}


.workflow-dataset-static-panel {
	position: relative;
}

#session-notes {
	border: none;
	width: 100%;
	height: auto;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: 0 solid transparent;
	background: transparent;
}

.link-cursor {
	cursor: pointer;
}

.tool-description {
	overflow-y: auto;
	height: "calc(100% - 30px)";
	padding-top: 10px;
}

.thin-list-group-item {
	/*height: 2em;*/
	padding-top: 4px;
	padding-bottom: 4px;
}

.nav-pills {
	margin-bottom: 10px;
}

.navbar{
	margin-bottom: 10px;
}

.session-list {
	height: "calc(100vh - 130px)";
}

#session-preview {
	height: "calc(100vh - 130px)";
}

.td-selected {
	background-color: steelblue;
}


.td-selected>a {
	color: white;
}

/* D3 graph related styles*/

.node {
	stroke: black;
	stroke-width: 1px;
}

.node .selected {
	stroke: black;
	stroke-width: 2px;
}


.link {
	stroke: #555;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.phenodata-header-button {
	margin-left: 15px;
	color: gray;
}

.phenodata-button-group {
	margin: 15px;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	height: "calc(100vh - 110px)";
}

.tab-content-without-padding {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: "calc(100vh - 110px)";
}

.nav-tabs {
	margin-bottom: 0;
}


@import "../app/views/sessions/session/session";
@import "../app/views/sessions/session/dataset/dataset";
@import "../app/views/sessions/session/workflow/workflow";
@import "../app/views/sessions/session/visualization/expressionprofile/expressionprofile";