 <div class="row" ng-controller="SessionCtrl" ng-init="getSessions()">

     <div flow-init>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">DataSets</h4>
            </div>
            <div class="panel-body">
                <p> To start working with Chipster, you need to load data first</p>
                <div flow-prevent-drop
                flow-drag-enter="style={border:'5px solid green'}"
                flow-drag-leave="style={}"
                ng-style="style">

                <div class="row" id="flow-button-group">
                    <div class="span6">
                        <span class="btn btn-xs btn-info" flow-btn><i class="icon icon-file"></i>Uplaod File</span>
                        <span class="btn btn-xs btn-info" flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="icon icon-folder-open"></i>Upload Folder</span>
                        <span class="btn btn-xs btn-info" flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="icon icon-folder-open"></i>Import from URL</span>
                        <span class="btn btn-xs btn-info" flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="icon icon-folder-open"></i>Import from URL Directly to server</span>
                    </div>
                </div><!--end of row-->
                <hr class="soften">
                 <ul>
                    <li ng-repeat="exSession in exSessions">
                        <h5><a href="" ng-click="showDetails = !showDetails"> 
                            {{exSession.name}}
                        </a></h5>
                        <div id="session-detail" ng-show="showDetails">
                            <p>ID: {{exSession.sessionId}}</p>
                            <p>Name: {{exSession.name}}</p>
                            <p>Notes: {{exSession.notes}}</p>
                            <p>Created: {{exSession.created}}</p>
                            <p>Accessed: {{exSession.accessed}}</p>
                        </div>
                       </li>
                </ul> 
                <div>
                    <button class="btn btn-primary" ng-click="createSession()">Create New Session</button>

                </div>              


               
            </div>
        </div>
    </div><!--end of file upload panel-->