<div class="container" ng-controller="SessionListCtrl" ng-init="updateSessions()">
    <div>
        <h4>Sessions</h4>
        <br/>
    </div>
    <div class="col-md-6">
        <!-- User Sessions -->
        <div class="scrollable session-list">
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="session in userSessions">
                    <td class="text-left text-nowrap"
                        ng-click="selectSession($event, session)"
                        ng-class="{'td-selected':isSessionSelected(session)}">
                        <a href="" ng-click="openSession(session)">{{session.name}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Example Sessions -->
            <h5>Example Session</h5>
            <table class="table table-hover">
                <tbody>
                <tr ng-repeat="session in localSessions">
                    <td class="text-left text-nowrap">
                        {{session.name}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!--end of column-md-6-->
    <div class="col-md-6"><!-- Session Detail -->
        <div class="btn-group">
            <button class="btn btn-default"
                    ng-click="createSession()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New session
            </button>
            <button class="btn btn-default"
                    ng-click="openSession(selectedSessions[0])"
                    ng-disabled="selectedSessions.length !== 1">
                Open session
            </button>
            <button class="btn btn-default"
                    ng-click="deleteSessions(selectedSessions)"
                    ng-disabled="selectedSessions.length === 0">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete session
            </button>
        </div>

        <hr/>

        <h5 ng-repeat="session in selectedSessions">{{session.name}}</h5>

        <div id="workflow-dataset-panel" ng-if="selectedSessions.length === 1">
            <p>{{selectedSessions[0].notes}}</p>

            <div ng-if="session.datasetsMap && session.jobsMap">
                <workflow-graph
                        datasets-map="session.datasetsMap"
                        jobs-map="session.jobsMap"
                        modules-map="session.modulesMap"
                        zoom="0.5"
                        enabled="false">
            </div>
        </div>
    </div>
</div><!--end of row-->
