 <div class="row">

     <div flow-init>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">DataSets</h4>
            </div>
            <div class="panel-body">
                <p> To start working with Chipster, you need to load data first</p>
                <ul>
                    <li style="margin:5px"><a href="#">Open Example Session</a></li>
                    <li style="margin:5px"><a href="#">Open Local Session</a></li>
                    <li style="margin:5px"><a href="#">Add Session</a></li>
                    <li style="margin:5px"><a href="#">Refresh Local Session</a></li>

                </ul>
                <div flow-prevent-drop
                flow-drag-enter="style={border:'5px solid green'}"
                flow-drag-leave="style={}"
                ng-style="style">

                <div class="row" id="flow-button-group">
                    <div class="span6">
                        <span class="btn btn-xs btn-info" flow-btn><i class="icon icon-file"></i>Uplaod File</span>
                        <span class="btn btn-xs btn-info" flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="icon icon-folder-open"></i>Upload Folder</span>
                        <span class="btn btn-xs btn-info" flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="icon icon-folder-open"></i>Import from URL</span>
                        <span class="btn btn-xs btn-info" flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="icon icon-folder-open"></i>Import from URL Directly to server</span>
                    </div>
                </div><!--end of row-->
                <hr class="soften">
               
            </div>
        </div>
    </div><!--end of file upload panel-->