<div class="row" id="dataToolContainer" ng-controller="SessionCtrl"
	ng-init="getSessionDetail()">
	<div id="session_tmp" class="row">

		<!-- Start of Tools View -->
		<div class="col-sm-3 col-lg-3" ng-include="'partials/tools.html'">
		</div>
		<!-- End of Tools View -->



		<!-- Start of Workflow View -->
		<div class="col-sm-5 col-lg-5" ng-include="'partials/workflow.html'">
		</div>
		<!-- end of workflow -->


		<!-- Visualization View -->
		<div class="col-sm-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Visualization</div>
				<div class="panel-body" ng-include="'partials/visualization.html'"></div>
			</div>
		</div>

		<!-- End of Visualization View -->

	</div>
</div>