 <div class="row" ng-controller="SessionListCtrl" ng-init="getSessions()">
     <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Sessions</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <button type="button" class="btn btn-info" ng-click="createSession()">Create New Session</button>
                <hr/>
                <!-- User Sessions -->
                <h5>User Session</h5>
                <table class="table table-hover" >
                  <tbody>
                    <tr ng-repeat="exSession in userSessions" >
	                    <td class="text-left text-nowrap" ng-click="showSessionDetail(exSession)">
	                        <a href="">{{exSession.name}}</a>
	                    </td>
	                    <td class="text-right text-nowrap">
	                        <button class="btn btn-xs btn-info" ng-click="setCurClickedSession(exSession)">Open</button>
	                  </td>
              		</tr>
          		</tbody>
      		</table>
      		<!-- Example Sessions -->
      		 <h5>Example Session</h5>
                <table class="table table-hover" >
                  <tbody>
                    <tr ng-repeat="exSession in localSessions" >
	                    <td class="text-left text-nowrap" ng-click="showSessionDetail(exSession)">
	                        <a href="">{{exSession.name}}</a>
	                    </td>
	                    <td class="text-right text-nowrap">
	                        <button class="btn btn-xs btn-info" ng-click="setCurClickedSession(exSession)">Open</button>
	                  </td>
              		</tr>
          		</tbody>
      		</table>
  		</div><!--end of column-md-6-->
	  	<div class="col-md-6" ng-show="showDetail"><!-- Session Detail -->
		  	<h5>Session Detail</h5>
		  	{{curSession.notes}}
		  	<hr/>
	  		<button class="btn btn-xs btn-info" ng-click="deleteSession(exSession)">Delete</button>
	   </div>
</div><!--end of  panel body-->
</div><!--end of panel-->
</div><!--end of row-->
