<div class="row" id="workflowview" ng-controller="SessionCtrl"
	ng-init="getSessionDetail()">
	<div class="row row-eq-height" id="dataToolContainer">
		<!--div dataset and tool-->
		<div class="row">
			<div class="col-sm-6">
				<!--file info or tool info panel-->

				<!--starting of Workflow div-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{session.sessionName}}</h3>
					</div>
					<!--end of panel heading-->
					<div class="panel-body">
						<!--panzoomwidget panzoom-id="PanZoom" style="position:absolute;top:60px;left:40px;z-index:1"-->
						<!--  /panzoomwidget-->
						<!--panzoom id="PanZoom" config="panzoomConfig" model="panzoomModel" style="width:800px; height: 800px"-->
						<workflow-graph-layout data="d3Data" />
						<!--/panzoom-->
					</div>
					<!--end of panel body-->
				</div>
			</div>
			<!--end of column-sm-6-->


			<div class="col-sm-6">
				<div class="panel panel-default"
					ng-controller="AnalysisToolTabCtrl as tab">
					<div class="panel-heading">
						<h3 class="panel-title">Analysis Tools</h3>
					</div>
					<!--end of panel heading-->
					<div class="panel-body">
						<div>
							<ul class="nav nav-pills">
								<li ng-class="{active:tab.isSet(1)}"><a href
									ng-click="tab.setTab(1)">Microarray</a></li>
								<li ng-class="{active:tab.isSet(2)}"><a href
									ng-click="tab.setTab(2)">NGS</a></li>
								<li ng-class="{active:tab.isSet(3)}"><a href
									ng-click="tab.setTab(3)">Misc</a></li>
							</ul>
						</div>

						<!--the tree should come here-->
						<div id="tabContent">
							<script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content">
                        <a class="btn btn-info btn-xs" ng-if="node.nodes && node.nodes.length>0" data-nodrag
                            ng-click="toggle(this)">
                            <span class="glyphicon"
                            ng-class="{
                            'glyphicon-chevron-right': collapsed,
                            'glyphicon-chevron-down': !collapsed
                        }">
                    </span> </a>
                    {{node.name}}

                </div>
                <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: !collapsed}">
                    <li ng-repeat="node in node.nodes" ng-click="selectedTool(node,$index)" ng-class="{ 'selected-class-name': $index === selectedToolIndex }" ui-tree-node ng-include="'nodes_renderer.html'">
                    </li>
                </ol>
            </script>
							<!--end of script-->
							<div ui-tree data-drag-enabled="false" id="tree-root">
								<ol ui-tree-nodes ng-model="data">
									<li ng-repeat="node in data" ui-tree-node
										ng-include="'nodes_renderer.html'"></li>
									<!--end of data list-->
								</ol>
							</div>
						</div>
						<!--end of angular tree directive-->

					</div>
					<!--end of tabset div-->
					<div id="runButton">
						<button type="button" class="btn btn-sm btn-success btn-block"
							ng-click="runJob()">Run</button>
					</div>
				</div>
				<!--end of tool panel-->

				<div ng-show="showToolDescription()" class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Tool Description</h4>
					</div>
					<div class="panel-body">
						<!--will be the tool description-->
						{{selectedToolId.tool}}
						<p>{{selectedToolId.name}}</p>
						<!--button area-->
						<div class="container" id="toolButtonGroup">
							<!--Tool source-->
							<a href="#myModal" role="button" class="btn btn-sm btn-info"
								data-toggle="modal">Show Tool Source Code</a>
							<!--Parameter-->
							<a href="http://chipster.csc.fi/access.shtml" target="_blank"
								class="btn btn btn-sm btn-info">Show Parameter</a>
						</div>
						<!--end of tool button group-->
					</div>
					<!--end of panel body-->
				</div>
				<!--end of class panel panel-default-->

			</div>
			<!--end of tool column-->
		</div>
		<!-- end of workflow and tool row -->


		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Session Detail</h4>
					</div>
					<div class="panel-body">
						<p>
							{{session.sessionDetail}} <span class="pull-right">
								<button class="btn btn-xs btn-info" data-toggle="modal"
									data-target="#session-edit-modal">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
							</span>
						</p>
						<hr class="soften">
						<!--session editing modal-->
						<div id="session-edit-modal" class="modal fade" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times</button>
										<h4 class="modal-title">Edit Session</h4>
									</div>
									<!--end of modal header-->
									<div class="modal-body">
										<form class="edit-form" role="form" novalidate>
											<div class="form-group">
												<label>Session Name</label> <input type="text"
													class="form-control" ng-model="session.sessionName"
													placeholder="Edit name">
											</div>
											<div class="form-group">
												<label>Session Description</label> <input type="text"
													class="form-control" ng-model="session.sessionDetail"
													placeholder="Enter description">
											</div>
											<button type="button" class="btn btn-info"
												ng-click="editSession()" data-dismiss="modal">Save</button>
											<button type="button" class="btn btn-default pull-right"
												data-dismiss="modal">Cancel</button>
										</form>
									</div>
									<!--end of modal body-->
								</div>
								<!--end of modal-content-->

							</div>
							<!--end of modal-dialog-->

						</div>
						<!--end of modal dialog-->
						</hr>
						<div class="dataset-list">
							<table class="table table-hover">
								<tbody>
									<tr ng-repeat="data in d3Data.nodes">
										<td class="text-left text-nowrap" ng-click=""><a href="">{{data.name}}</a>
										</td>
										<td class="text-right text-nowrap">
											<button class="btn btn-xs btn-info" ng-click="deleteDataset(data)">Delete</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--end of dataset List-->
						<div>
							<hr class="soften">
							<button type="button" class="btn btn-sm btn-success"
								ng-click="addDataset()">Add DataSet</button>
						</div>
					</div>
				</div>
			</div>


			<!--Visualization Panel-->
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Visualization</h3>
					</div>
					<!--end of panel heading-->
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-2 col-md-4">
								<div class="thumbnail">
									<img src="icons/graph_icon.jpg" alt="...">
									<div class="caption">
										<h5>Visualization Label</h5>
										<p>Some thing about the technique</p>
									</div>
									<!--end of caption-->
								</div>
								<!--end of thumbnails-->
							</div>
							<!--end of column-->
							<div class="col-sm-2 col-md-4">
								<div class="thumbnail">
									<img src="icons/graph_icon.jpg" alt="...">
									<div class="caption">
										<h5>Visualization Label</h5>
										<p>Some thing about the technique</p>
									</div>
									<!--end of caption-->
								</div>
								<!--end of thumbnails-->
							</div>
							<!--end of column-->
						</div>
						<!--end of row-->
					</div>
					<!--end of panel body-->
				</div>
				<!--end of visualization panel-->
			</div>
			<!--end of visualization view-->
		</div>
		<!--end of session detail and visualization tree-->

	</div>
	<!--end of dataToolContainer-->
</div>

