<div ng-controller="ToolCtrl" ng-init="getTools()">

    <div class="bar pull-right">
        <input type="text" class="search" ng-model="searchTool" placeholder="search tool"/>
    </div>

    <!-- Tools div -->
    <div class="row">
        <ul class="nav nav-pills btn-xs">
            <li ng-class="{active:isSet($index)}" ng-repeat="module in modules">
                <a href ng-click="setTab($index)">{{module.name}}</a>
            </li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div>
        <div class="row">
            <div class="col-xs-4 no-padding">
                <div id="category-table" class="tool-height">
                    <table class="table table-bordered">
                        <tbody>
                            <tr ng-repeat="category in categories|searchFor:searchTool"
                                ng-click="selectCategory(category,$index)"
                                ng-class="{'tool-selected':$index===selectedCategoryIndex}">
                                <td>
                                    <div class="row" style="height: 16px;">
                                        <tool-circle toolcolor="category.color" toolname="category.name">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end of tool category table with column width 4 -->
            <div class="col-xs-4" style="padding-left: 0">
                <div id="tool-table" class="tool-height">
                    <table class="table table-bordered">
                        <tbody>
                            <tr ng-repeat="tool in selectedCategory.tools|searchFor:searchTool"
                                ng-click="selectTool(tool.id, $index)"
                                ng-class="{'tool-selected':$index===selectedToolIndex}">
                                <td><div style="height: 16px;">
                                    <tool-text toolname="tool.name">
                                </div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row col-xs-4 tool-height" id="tool-details-panel">

                <button class="btn btn-info col-xs-5" ng-disabled="!isParametersEnabled()"
                    data-toggle="modal" data-target="#parameterModal">
                    Parameters
                </button>
                <button class="btn btn-success col-xs-6 col-xs-offset-1"
                    ng-click="runJob()" ng-disabled="!isRunEnabled()">
                    <span class="glyphicon glyphicon-play">
                        Run
                    </span>
                </button>

                <!-- Tool Description div -->
                <div class="tool-description col-xs-12">
                    {{selectedTool.description}}
                </div>

                <!--Tool source-->
                <button class="btn  btn-info btn-sm col-xs-5" data-toggle="modal"
                        data-target="#toolSourceModal" ng-disabled="!selectedTool">
                    Source Code
                </button>
                <!--Parameter-->
            </div>
        </div>
    </div>
    <!--end of tabset div-->

    <div id="parameterModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <h4 class="modal-title">{{selectedTool.name.displayName}}</h4>
                </div>
                <!--end of modal header-->
                <div class="modal-body"
                    ng-include="'partials/parametermodal.html'"></div>
                <!--end of modal body-->
            </div>
            <!--end of modal-content-->

        </div>
        <!--end of modal-dialog-->

    </div>

    <div id="toolSourceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <h4 class="modal-title">{{selectedTool.name.displayName}}</h4>
                </div>
                <!--end of modal header-->
                <div class="modal-body">
                    <pre>Tool source code should be here, will be visible shortly :)</pre>
                </div>
                <!--end of modal body-->
            </div>
            <!--end of modal-content-->

        </div>
        <!--end of modal-dialog-->
    </div>

    <div id="toolErrorModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <h4 class="modal-title">{{toolErrorTitle}}</h4>
                </div>
                <!--end of modal header-->
                <div class="modal-body">
                    <h5>Error details</h5>
                    <pre>{{toolError.stateDetail}}</pre>
                    <h5>Screen output</h5>
                    <pre>{{toolError.screenOutput}}</pre>
                </div>
                <!--end of modal body-->
            </div>
            <!--end of modal-content-->
        </div>
        <!--end of modal-dialog-->
    </div>
</div>

