<div ng-controller="ToolCtrl" ng-init="getTools()">

    <div class="bar pull-right">
        <input type="text" class="search" ng-model="searchTool" placeholder="search tool"/>
    </div>

    <!-- Tools div -->
    <div class="row">
        <ul class="nav nav-pills btn-xs">
            <li ng-class="{active:isSet($index)}" ng-repeat="t_module in t_modules">
                <a href ng-click="setTab($index)">{{t_module.name}}</a>
            </li>
        </ul>
    </div>

    <!-- Tab Content -->
    <div>
        <div class="row">
            <div class="col-xs-4 no-padding">
                <div id="category-table" class="tool-height">
                    <table class="table table-bordered">
                        <tbody>
                            <tr ng-repeat="t_cat in t_categories|searchFor:searchTool"
                                ng-click="selected_t_category(t_cat,$index)"
                                ng-class="{'tool-selected':$index===selected_t_cat_index}">
                                <td>
                                    <div class="row" style="height: 16px;">
                                        <!-- 											<div class="col-xs-2"> -->
                                        <tool-circle toolcolor="t_cat.color" toolname="t_cat.name">
                                        <!-- 											<div class="col-xs-11" --> <!-- 												style="height: 18px; line-height: 12px;"> -->
                                        <!-- 												<a href="">{{t_cat.name}}</a> --> <!-- 											</div> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end of tool category table with column width 4 -->
            <div class="col-xs-4" style="padding-left: 0">
                <div id="tool-table" class="tool-height">
                    <table class="table table-bordered">
                        <tbody>
                            <tr ng-repeat="tool in current_t_cat.tools|searchFor:searchTool"
                                ng-click="selected_tool_type(tool,$index);selectedTool(tool,$index)"
                                ng-class="{'tool-selected':$index===selected_t_type_index}">
                                <td><div style="height: 16px;">
                                        <tool-text toolname="tool.name">
                                    </div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row col-xs-4 tool-height" id="tool-details-panel">

                <button class="btn btn-info col-xs-5" ng-disabled="!enable_t_parameter"
                    data-toggle="modal" data-target="#parameterModal">Parameters</button>
                <button class="btn btn-success col-xs-6 col-xs-offset-1"
                    ng-click="runJob()">
                    <span class="glyphicon glyphicon-play"> Run</span>
                </button>

                <!-- Tool Description div -->
                <div class="tool-description col-xs-12">
                    <!-- <h4>{{selected_t_type.name}}</h4> -->
                    <!--will be the tool description-->
                    {{selected_t_des}}
                    <!--button area-->
                    <!--end of tool button group-->
                </div>

                <!--Tool source-->
                <button class="btn  btn-info btn-sm col-xs-5" data-toggle="modal"
                        data-target="#toolSourceModal">Source Code</button>
                <!--Parameter-->
            </div>
        </div>
    </div>
    <!--end of tabset div-->

    <div id="parameterModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <h4 class="modal-title">{{selected_t_type.name}}</h4>
                </div>
                <!--end of modal header-->
                <div class="modal-body"
                    ng-include="'partials/parametermodal.html'"></div>
                <!--end of modal body-->
            </div>
            <!--end of modal-content-->

        </div>
        <!--end of modal-dialog-->

    </div>

    <div id="toolSourceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <h4 class="modal-title">{{selected_t_type.name}}</h4>
                </div>
                <!--end of modal header-->
                <div class="modal-body">
                    <p>Tool source code should be here, will be visible shortly
                        :)</p>
                </div>
                <!--end of modal body-->
            </div>
            <!--end of modal-content-->

        </div>
        <!--end of modal-dialog-->

    </div>
</div>

