<div class="row">
		<div class="col-sm-2 col-md-4">
			<div class="thumbnail">
				<img src="icons/graph_icon.jpg" alt="...">
				<div class="caption">
					<h5>Visualization Label</h5>
					<p>Some thing about the technique</p>
				</div>
				<!--end of caption-->
			</div>
			<!--end of thumbnails-->
		</div>
		<!--end of column-->
		<div class="col-sm-2 col-md-4">
			<div class="thumbnail">
				<img src="icons/graph_icon.jpg" alt="...">
				<div class="caption">
					<h5>Visualization Label</h5>
					<p>Some thing about the technique</p>
				</div>
				<!--end of caption-->
			</div>
			<!--end of thumbnails-->
		</div>
	</div>
