<!-- <div class="panel panel-default main-panel-right" ng-controller="VisualizationCtrl">
	<div class="panel-body"> -->

<div class="main-panel-right" ng-controller="VisualizationCtrl">
	<div>

		<ul class="nav nav-tabs" >
			<li ng-class="{active:isTab(1)}"><a href ng-click="setTab(1)">Details</a></li>

			<li role="presentation" class="dropdown" ng-class="{active:isTab(2)}" ng-show="currentVisualization">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					{{currentVisualization.name}} <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li ng-repeat="vis in visualizations" ng-show="isCompatible(vis, selectedDatasets)"> <a ng-click="show(vis)">{{vis.name}}</a></li>
				</ul>
			</li>
		</ul>

		<div>
			<div ng-show="isTab(1)" class="tab-content">

				<div class="col-sm-7" id="data-detail">

					<!-- single selection -->
					<div ng-if="isSingleDatasetSelected()">
						<div>
							<div class="col-sm-4">
								<h5>{{selectedDatasets[0].name}}</h5>
							</div>

							<div class="col-sm-8">
								 <div class="btn-group btn-group-sm pull-right">
								<button type="button" class="btn btn-default" ng-click="renameDatasetDialog(selectedDatasets[0])">
									Rename
								</button>
								<button type="button" class="btn btn-default" ng-click="deleteDatasets(selectedDatasets)">
									Delete
								</button>
								<button type="button" class="btn btn-default" ng-click="exportDatasets(selectedDatasets)">
									Export
								</button>
								<button type="button" class="btn btn-default" ng-click="showHistory()">
									History
								</button>
								 </div>
							</div>

							<div class="col-sm-12">
								<div class="indented">
									<p style="font-size: smaller">{{selectedDatasets[0].size}}, {{selectedDatasets[0].session.created}}</p>
									<textarea style="border: none; width: 100%" rows="1" placeholder="Dataset notes">{{selectedDatasets[0].notes}}</textarea>
								</div>

								<h5>{{getJob(selectedDatasets[0].sourceJob).toolCategory}} / {{getJob(selectedDatasets[0].sourceJob).toolName}}</h5>
								<div>
									<table class="table table-condensed parameter-table">
										<tr ng-repeat="param in getJob(selectedDatasets[0].sourceJob).parameters">
											<td>{{param.displayName}}</td>
											<td>{{param.value}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>

					<!-- multiple selection -->
					<div ng-if="isMultipleDatasetsSelected()">

						<div class="col-sm-4">
							<h5 ng-repeat="data in selectedDatasets">{{data.name}}</h5>
						</div>

						<div class="col-sm-8">
							<div class="btn-group btn-group-sm pull-right">
								<button type="button" class="btn btn-default" ng-click="deleteDatasets(selectedDatasets)">
									Delete
								</button>
								<button type="button" class="btn btn-default" ng-click="exportDatasets(selectedDatasets)">
									Export
								</button>
								<button type="button" class="btn btn-default" ng-click="showHistory()">
									History
								</button>
							</div>
						</div>
					</div>

					<div ng-if="selectedJobs.length > 0">
						<div>
							<div class="col-sm-8">
								<h5>{{selectedJobs[0].toolCategory}} / {{selectedJobs[0].toolName}}</h5>
							</div>

							<div class="col-sm-4">
								<div class="btn-group btn-group-sm pull-right">
									<button type="button" class="btn btn-default" ng-click="deleteJobs(selectedJobs)">
										Cancel
									</button>
								</div>
							</div>

							<div class="col-sm-12">
								<div class="indented">
									<p>Status: {{selectedJobs[0].state.toLowerCase()}}
										<span ng-show="selectedJobs[0].stateDetail">
											({{selectedJobs[0].stateDetail}})
										</span>
									</p>
									<!--<p>{{selectedJobs[0].toolDescription}}</p> -->
								</div>

								<h5>Parameters</h5>
								<div>
									<table class="table table-condensed parameter-table">
										<tr ng-repeat="param in selectedJobs[0].parameters">
											<td>{{param.displayName}}</td>
											<td>{{param.value}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>

					<!-- no selection -->
					<div ng-if="!isDatasetSelected() && !isJobSelected()">
						<p>{{session.sessionDetail}}</p>
					</div>

				</div>

				<div class="coll-sm-5">
					<div ng-if="showPreview()">
						<button type="button" class="btn btn-default no-padding thumbnail-button" ng-click="show(vis)"
								ng-repeat="vis in getVisualizations()">
							<img ng-src="{{getDatasetUrl()}}" ng-if="vis.directive == 'chipster-image'" class="thumbnail"/>

							<div ng-if="vis.directive == 'chipster-pdf'" class="thumbnail">
								<!-- set url to variable  http://stackoverflow.com/questions/16796341/set-angular-scope-variable-in-markup -->
								{{pdfUrl=getDatasetUrl();""}}
								<ng-pdf scale="page-fit" template-url="partials/pdf-thumbnail.html" canvasid="pdf-canvas-thumb">
								</ng-pdf>
							</div>
						</button>
					</div>

					 <div ng-if="!showPreview()" class="btn-group-vertical" role="group">
						<button type="button" class="btn btn-default" ng-click="show(vis)" ng-repeat="vis in getVisualizations()">
							<span class="glyphicon {{vis.icon}}" aria-hidden="true"></span>
							<br>
							{{vis.name}}
						</button>
					 </div>
				</div>

				<div class="col-sm-12">
					<hr/>
					<div ng-include="'partials/tools.html'"></div>
				</div>

				<!-- Start of Tools View -->
				<!-- End of Tools View -->

			</div>
			<div ng-show="isTab(2)" class="tab-content-without-padding">
				<div id="visualizationArea" class="visualization-area"></div>
			</div>
		</div>
	</div>
</div>

