 <div class="row" id="visalizationContainer">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Visualization</h3>
                </div><!--end of panel heading-->
                <div class="row">
                    <div class="col-sm-2 col-md-4">
                        <div class="thumbnail">
                            <img src="icons/graph_icon.jpg" alt="...">
                            <div class="caption">
                                <h5>Visualization Label</h5>
                                <p>Some thing about the technique</p>
                            </div><!--end of caption-->
                        </div><!--end of thumbnails-->
                    </div><!--end of column-->
                    <div class="col-sm-2 col-md-4">
                        <div class="thumbnail">
                            <img src="icons/graph_icon.jpg" alt="...">
                            <div class="caption">
                                <h5>Visualization Label</h5>
                                <p>Some thing about the technique</p>
                            </div><!--end of caption-->
                        </div><!--end of thumbnails-->
                    </div><!--end of column-->
                    <div class="col-sm-2 col-md-4">
                        <div class="thumbnail">
                            <img src="icons/graph_icon.jpg" alt="...">
                            <div class="caption">
                                <h5>Visualization Label</h5>
                                <p>Some thing about the technique</p>
                            </div><!--end of caption-->
                        </div><!--end of thumbnails-->
                    </div><!--end of column-->
                    <div class="col-sm-2 col-md-4">
                        <div class="thumbnail">
                            <img src="icons/graph_icon.jpg" alt="...">
                            <div class="caption">
                                <h5>Visualization Label</h5>
                                <p>Some thing about the technique</p>
                            </div><!--end of caption-->
                        </div><!--end of thumbnails-->
                    </div><!--end of column-->
                    <div class="col-sm-2 col-md-4">
                        <div class="thumbnail">
                            <img src="icons/graph_icon.jpg" alt="...">
                            <div class="caption">
                                <h5>Visualization Label</h5>
                                <p>Some thing about the technique</p>
                            </div><!--end of caption-->
                        </div><!--end of thumbnails-->
                    </div><!--end of column-->
                    <div class="col-sm-2 col-md-4">
                        <div class="thumbnail">
                            <img src="icons/graph_icon.jpg" alt="...">
                            <div class="caption">
                                <h5>Visualization Label</h5>
                                <p>Some thing about the technique</p>
                            </div><!--end of caption-->
                        </div><!--end of thumbnails-->
                    </div><!--end of column-->
                </div><!--end of visualization option row-->
                
               
            </div><!--end of panel-->

            <!--Excel sheet in visualization page-->
                <div ng-controller="SpreadSheetController">
                    <p>SpreadSheet Test</p>
                    <table>
                        <tr class="column-label">
                            <td></td>
                            <td ng-repeat="column in columns">{{column}}</td>
                        </tr><!--end of colmn label row-->
                        <tr ng-repeat="row in rows">
                            <td class="row-label">{{row}}</td>
                            <td ng-repeat="column in columns">
                                <div>
                                    <input ng-model="cells[column+row]"></input>
                                    <div ng-bind="compute(column+row)" class="output"></div>

                                </div><!--end of ng model div-->

                        </tr>

                    </table><!--end of spreadsheet table
                   

                </div><!--end of spreadsheet view-->
        </div><!--end visualization row-->