<div class="panel panel-default">
	<div class="panel-heading" ng-click="editName()">Data
		<form novalidate class="simple-form pull-right">
			<input type="text" ng-model="searched_dataset_name" placeholder="search data">
		</form>
	</div>

	<!--
	<div class="panel-heading" ng-click="editName()">{{session.sessionName}}
		<form novalidate class="simple-form pull-right">
			<input type="text" ng-model="searched_dataset_name" placeholder="search data">
		</form>
	</div>
	-->
	<!--end of panel heading-->

	<div class="panel-body">
		<div>
			<ul class="nav nav-tabs" >
				<li ng-class="{active:isSet(1)}"><a href ng-click="setItem(1)">Workflow</a></li>
				<li ng-class="{active:isSet(2)}"><a href ng-click="setItem(2)">Datasets</a></li>
				<li ng-class="{active:isSet(3)}"><a href ng-click="setItem(3)">Notes</a></li>
			</ul>
			<ul class="nav nav-pills pull-right">
				<li>
					<button class="btn btn-xs btn-info pull-right"
						ng-click="changeOrientation()">
						<span class="glyphicon glyphicon-repeat"></span>
					</button>
				</li>
				<li><button class="btn btn-xs btn-info"
						data-toggle="modal" data-target="#addDatasetModal">
						<span class="glyphicon glyphicon-plus-sign"></span>
					</button></li>

				<div id="addDatasetModal" class="modal fade" role="dialog">
					<div class="panel-body" ng-include="'partials/fileuploader.html'"></div>
				</div>

			</ul>
		</div>
		<!-- end of panel headings -->

		<div id="tabContent">
			<div ng-show="isSet(1)">
				<workflow-graph-layout data="d3Data" selectedDataset="selectedDatasetId">
			</div>
			<div ng-show="isSet(2)">
				<div class="dataset-list">
					<table class="table table-hover">
						<tbody>
							<tr ng-repeat="data in d3Data.nodes|searchDataset:searched_dataset_name">
								<td class="text-left text-nowrap" ng-click=""><a href="">{{data.name}}</a></td>
								<td class="text-right text-nowrap">
									<button class="btn btn-xs btn-info"
										ng-click="deleteDataset(data)">Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--end of dataset List-->
				<div>
					<hr class="soften">

					<button class="btn btn-sm btn-success" data-toggle="modal"
						data-target="#jobListModal">See Jobs</button>

					<div id="jobListModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times</button>
									<h4 class="modal-title">Jobs</h4>
								</div>
								<!--end of modal header-->
								<div class="modal-body">
									<table class="table table-hover">
										<tbody>
											<tr>
												<td>JobId</td>
												<td>Description</td>
												<td>Status</td>
											</tr>
											<tr ng-repeat="job in jobs">
												<td class="text-nowrap"><a href="">{{job.jobId}}</a></td>
												<td class="text-nowrap">{{job.toolId}}</td>
												<td class="text-nowrap">{{job.state}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!--end of modal body-->
							</div>
							<!--end of modal-content-->
						</div>
						<!--end of modal-dialog-->
					</div>
				</div>
			</div>
			<div ng-show="isSet(3)">
				<div>
					<p>
						{{session.sessionDetail}} <span class="pull-right">
							<button class="btn btn-xs btn-info" data-toggle="modal"
								data-target="#session-edit-modal">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
						</span>
					</p>
				</div>
			</div>
		</div>
		<!-- end of tab content -->
	</div>
	<!-- end of panel body -->
</div>
