/.angular/cache
**/.DS_Store
node_modules
npm-debug.log
/.project
/.idea
dist
typings/
src/app/**/*.js
src/app/**/*.js.map
*.iml
.settings/
src/assets/manual-mylly
src/assets/manual
.vscode/settings.json
