<div *ngIf="!show && !initFailed">&nbsp;Initializing login...</div>

<div class="col-md-4 offset-md-4 margin-top" id="login" *ngIf="show">
  <h1 class="text-center h1-xs">Log in to {{ appName }}</h1>

  <br />
  <div *ngFor="let oidc of getOidcConfigs()">
    <button
      *ngIf="oidc.logo"
      class="btn btn-light btn-oidc btn-oidc-logo"
      (click)="oidcLogin(oidc)"
    >
      <img
        src="{{ oidc.logo }}"
        alt="{{ oidc.oidcName }} login"
        [style.width]="oidc.logoWidth"
      />
    </button>
    <button
      *ngIf="!oidc.logo && oidc.text"
      class="btn btn-info btn-oidc"
      (click)="oidcLogin(oidc)"
    >
      {{ oidc.text }}
    </button>
    <button
      *ngIf="!oidc.logo && !oidc.text"
      class="btn btn-info btn-oidc"
      (click)="oidcLogin(oidc)"
    >
      Sign in with {{ oidc.oidcName }}
    </button>
    <br />
    <br />
  </div>

  <br />

  <div class="alert alert-warning" *ngIf="error">
    <strong>Login failed</strong>
    <p>{{ error }}</p>
  </div>

  <form #myForm="ngForm" (keydown)="keyDownFunction($event)">
    <div class="form-group">
      <label for="username">Chipster username</label>
      <input
        class="form-control"
        id="username"
        required
        ngModel
        name="username"
        #name="ngModel"
        #usernameInput
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        class="form-control"
        ngModel
        name="password"
        #name="ngModel"
        required
      />
    </div>
    <div class="form-actions text-center margin-top">
      <button
        class="btn btn-primary btn-login"
        type="button"
        (click)="login()"
        [disabled]="myForm.invalid"
      >
        Log In
      </button>
    </div>
  </form>

  <div *ngIf="ssoLoginUrl">
    <br />
    <br />
    <br />
    <a href="{{ ssoLoginUrl }}">
      <img src="/assets/Haka_login_vaaka.jpg" width="350" alt="[Haka Login]" />
    </a>
  </div>
</div>
