<div class="col-md-6 col-md-offset-3">


  <div class="alert alert-warning" *ngIf="error">
    <strong>Login failed</strong>
    <p>{{error}}</p>
  </div>

  <h4>Log in</h4>

    <form #myForm="ngForm" (keydown)="keyDownFunction($event)">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" required autofocus [(ngModel)]="username" name="username" #name="ngModel" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" [(ngModel)]="password" name="password" #name="ngModel"
                   required/>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="button" (click)="login(myForm)" [disabled]="myForm.invalid">Login</button>
        </div>

    </form>

</div>
