<ag-grid-angular
  *ngIf="allSessionsState.isReady(); else statusTemplate"
  class="ag-theme-alpine h-100"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [rowSelection]="rowSelection"
  [frameworkComponents]="frameworkComponents"></ag-grid-angular>

<ng-template #statusTemplate>
  <ch-status [state]="allSessionsState"></ch-status>
</ng-template>

<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Sessions of {{ selectedUser }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body scrollable-parent">
    <div *ngIf="!userSessionsState.isReady()">Loading sessions...</div>
    <ag-grid-angular
      *ngIf="userSessionsState.isReady()"
      style="height: 600px"
      class="ag-theme-alpine"
      [rowData]="userSessionsRowData"
      [columnDefs]="userSessionsColumnDefs"
      [rowSelection]="rowSelection"
      [frameworkComponents]="frameworkComponents"></ag-grid-angular>
  </div>
</ng-template>
