    <div class="view">
        <div class="row" id="chipsterInfoHeading">
            <div class="col-12">
                <h2>About Chipster</h2>
                <p class="lead">Chipster is a user-friendly analysis software for high-throughput data. It contains over 340 analysis tools for next generation sequencing (NGS), microarray, proteomics and sequence data. Users can save and share automatic analysis workflows, and visualize data interactively using a built-in genome browser and many other visualizations.</p>
            </div><!--end of col-12-->
        </div><!--end chipsterInfoHeading-->

        <div class="row" id="chipsterInfoContainer">
            <div class="col-sm-4 chipsterInfo">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Using Chipster</h3>
                    </div><!--end of panel heading-->
                    <p>If you would like to use the Chipster server running at CSC, you need a user account. If you would just like to have a quick look and not run anything, you can log in with the username guest. To know more</p>

                    <!--link to know more-->
                    <a href="http://chipster.csc.fi/access.shtml" target="_blank" class="btn btn-info btn-block">Learn how to Access</a>
                </div><!--end of fisrt panel-->
            </div><!--end of first chipsterInfo column-->

            <div class="col-sm-4 chipsterInfo">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Analysis Tools</h3>
                    </div><!--end of panel heading-->
                    <p>Chipster provides hundreds of tools for different type of data analysis and sequencing. It also provides preprocessing tools and filtering of dataser.To know more</p>

                    <!--link to know more-->
                    <a href="http://chipster.csc.fi/features.shtml" target="_blank" class="btn btn-info btn-block">Learn About Toolset</a>
                </div><!--end of second panel-->
            </div><!--end of second chipsterInfo column-->

            <div class="col-sm-4 chipsterInfo">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Visualizations</h3>
                    </div><!--end of panel heading-->
                    <p>Chipster offers different ways of visualization techniques for different type of data analysis and sequencing. Choose the best suited technique of visalization for your analysis.To know more</p>

                    <!--link to know more-->
                    <a href="http://chipster.csc.fi/screenshots.shtml" target="_blank" class="btn btn-info btn-block">Explore Visualizations</a>
                </div><!--end of third panel-->
            </div><!--end of third chipsterInfo column-->       

        </div><!--end of chipsterInfoContainer-->
        </div>