<div class="modal-header">
  <h4 class="modal-title">Contact support</h4>
</div>
<div class="modal-body">
  <form #contactSupportForm="ngForm">
    <div class="form-group" [ngClass]="{'was-validated': formSubmitAttempt && message === ''}">
      <label for="messageTextarea">Message</label>
      <textarea class="form-control" id="messageTextarea" name="message" rows="3" 
        [(ngModel)]="message" #messageTextarea="ngModel" required #messageTextarea></textarea>
      <div *ngIf="message === '' && formSubmitAttempt" class="invalid-feedback">
          Please describe what happened
      </div>
    </div>

    <div class="form-group mt-4" 
      [ngClass]="{'was-validated': formSubmitAttempt && attachRadioNgModel.invalid}">
      <label for="attachRadio">Attach session</label>      
      
      <div class="form-check">
        <input class="form-check-input" type="radio" name="attach" id="attachRadio" 
        value="yes" [(ngModel)]="attach" #attachRadioNgModel="ngModel" 
        [required]="session != null" 
        [disabled]="session == null">
        <label class="form-check-label" for="attachRadio">
          Attach a copy of your last session <em>{{session?.name || "(not available)"}}</em>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="doNotAttach" id="doNotAttachRadio" 
        value="no" [(ngModel)]="attach"
        [required]="session != null" 
        [disabled]="session == null">
        <label class="form-check-label" for="doNotAttachRadio">
          Don't attach the session
        </label>
      </div>

      <div *ngIf="attachRadioNgModel.invalid && formSubmitAttempt" class="invalid-feedback">
          Please choose
      </div>
    </div>

    <div class="form-group mt-4" [ngClass]="{'was-validated': formSubmitAttempt && emailInput.invalid}">
      <label for="emailInput">Your email address</label>
      <input type="email" class="form-control" id="emailInput" name="email" 
        aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" #emailInput="ngModel" required>
      <div *ngIf="emailInput.invalid && formSubmitAttempt" class="invalid-feedback">
          Please enter your email address
      </div>
      <small class="form-text text-muted">        
      Support personnel will use this address to contact you.
      </small>
      <small class="form-text text-muted" *ngIf="isVerifiedEmail">        
          This email address was received from your login details. If it's not correct, 
          please contact the organization that provided your login credentials to update 
          it.
      </small>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  <button type="submit" class="btn btn-info pull right" 
  (click)="save(contactSupportForm)" #submitButton>Send</button>
</div>
