<a class="dropdown-item" (click)="toggleShowToolsPanel()">
  <i class="fa fa-blank fa-fw"></i>
  <span *ngIf="!showToolsPanel"> Show tools side panel </span>
  <span *ngIf="showToolsPanel"> Hide tools side panel </span>
</a>

<a class="dropdown-item" (click)="toggleAlwaysShowTools()">
  <i class="fa fa-check fa-fw" [ngClass]="{ 'hidden' : !settingsService.alwaysShowTools$.getValue()}"></i>
  Always show tools</a>

<a class="dropdown-item" (click)="toggleSplitSelectionPanel()">
  <i class="fa fa-check fa-fw" [ngClass]="{ 'hidden' : !settingsService.splitSelectionPanel$.getValue()}"></i>
  Always show both tool and file selection in the middle panel</a>

<a class="dropdown-item" (click)="toggleCompactToolList()">
  <i class="fa fa-check fa-fw" [ngClass]="{ 'hidden' : !settingsService.compactToolList$.getValue()}"></i>
  Compact tool list</a>