<form [formGroup]="filteredSearchForm" (ngSubmit)="OnSubmit(filteredSearchForm.value)">
  <div formArrayName="items" *ngFor="let item of items.controls; let i = index;">
    <div [formGroupName]="i" class="form-group form-row mt-3">
      <div class="col-sm-2">
        <select formControlName="selectedAttribute" class="form-control form-control-sm">
          <option value=""></option>
          <option class="text-sm" *ngFor="let attribute of jobFilterAttributeSet" [value]="attribute">
            {{attribute}}
          </option>
        </select>
      </div>
      <div class="col-sm-2">
        <input type="text" formControlName="value" placeholder="" class="form-control form-control-sm"/>
      </div>
    </div>
  </div>

  <div [formGroup]="startTimeInputForm" class="form-group form-row">
    <label class="col-sm-2 col-form-label">Job start time</label>
    <div class=col-sm-2>
      <input type="date" formControlName="startDateInput" class="form-control form-control-sm">
    </div>
    <div class=col-sm-1>
      <input type="time" formControlName="startTimeInput" class="form-control form-control-sm">
    </div>
  </div>

  <div [formGroup]="endTimeInputForm" class="form-group form-row">
    <label class="col-sm-2 col-form-label">Job end time</label>
    <div class=col-sm-2>
      <input type="date" formControlName="endDateInput" class="form-control form-control-sm">
    </div>
    <div class=col-sm-1>
      <input type="time" formControlName="endTimeInput" class="form-control form-control-sm">
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-sm-1">
      <button class="btn btn-sm btn-info form-control form-control-sm" type="submit"> Search</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-sm btn-info form-control form-control-sm" (click)="addItem()">Add another field</button>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-sm btn-info form-control form-control-sm" (click)="reload()">Update</button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-3">
    <div *ngIf="jobNumber>0">
      <span class="text-sm">Total job number : {{jobNumber}}</span>
    </div>
  </div>
  <div class="col-sm-9">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [directionLinks]="true"
      [maxSize]="10" [(page)]="page" (pageChange)="onPageChange(page)"></ngb-pagination>
  </div>
</div>

<div *ngIf="jobListLoading" class="row">
  <div class="col">
      <i class="fas fa-circle-notch fa-spin" style="font-size:22px"></i> Loading job list..
  </div>
</div>
<table class="table" *ngIf="!jobListLoading">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Tool</th>
      <th scope="col">Created</th>
      <th scope="col">Duration</th>
      <th scope="col"></th>
      <th scope="col">Status</th>
      <th scope="col">Memory usage</th>
      <th scope="col">Comp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jobhistory of jobHistoryListWithParam" class="text-sm">
      <td>{{jobhistory.userName}}</td>
      <td>{{jobhistory.toolId}}</td>
      <td>{{jobhistory.created|date:'short'}}</td>
      <td>{{getDuration(jobhistory)}}</td>
      <td><button class="btn btn-sm btn-outline-info" (click)="openJobOutputModal(jobhistory)">Output</button></td>
      <td>{{jobhistory.jobStatus}}<span *ngIf="jobhistory.jobStatusDetail">({{jobhistory.jobStatusDetail}})</span></td>
      <td><span *ngIf="jobhistory.memoryUsage !== 0">{{jobhistory.memoryUsage | bytes}}</span></td>
      <td>{{jobhistory.compName}}</td>
    </tr>
  </tbody>
</table>