<div>
  Header
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Operation</th>
    <th scope="col">Comp host</th>
    <th scope="col">Durtaion</th>
    <th scope="col">Start time</th>
    <th scope="col">End time</th>
    <th scope="col"></th>
    <th scope="col">Error</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let jobhistory of jobHistoryList">
    <td>{{jobhistory.userName}}</td>
    <td>{{jobhistory.toolName}}</td>
    <td>{{jobhistory.compName}}</td>
    <td>{{jobhistory.timeDuration}}</td>
    <td>{{jobhistory.startTime}}</td>
    <td>{{jobhistory.endTime}}</td>
    <td>{{jobhistory.output}}</td>
    <td>{{jobhistory.error}}</td>
    <td>{{jobhistory.jobStatus}}</td>
  </tr>
  </tbody>
</table>
