
:host ::ng-deep h1 {
    font-size: 1.6rem;
}

:host ::ng-deep h2 {
    font-size: 1.4rem;
}

:host ::ng-deep h3 {
    font-size: 1.3rem;
}

:host ::ng-deep h4 {
    font-size: 1.2rem;
}

:host ::ng-deep h5 {
    font-size: 1.1rem;
}

:host ::ng-deep h6 {
    font-size: 1.0rem;
}