ngb-modal-window.ch-hotkey-cheatsheet {
  .modal-body {
    dl {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.25rem 1rem;
      margin: 0;

      dt,
      dd {
        margin: 0;
        align-self: center;
      }
    }

    kbd {
      text-transform: uppercase;
    }
  }

  .modal-footer kbd {
    text-transform: uppercase;
  }
}
